<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Thymeleaf Page</title>
		<link rel="shortcut icon" type="image/x-icon" th:href = "@{/images/logoes/way.ico}" media="screen" />
		<link rel = "stylesheet" th:href = "@{/css/bootstrap.min.css}" media="screen"/>
		<script type = "text/javascript" th:src = "@{/js/bootstrap.min.js}" charset="UTF-8"></script>
		<script type = "text/javascript" th:src = "@{/js/jquery-1.11.3.min.js}" charset="UTF-8"></script>
		<script type = "text/javascript" th:src = "@{/js/vue.js}" charset="UTF-8"></script>
	</head>
	<body>
		<div class="container-fluid" id = "contentdiv"> 
			<h1 th:text = "${message}"></h1>
			<hr/>
			<div class = "row">
				<div class = "col-sm-6 col-sm-offset-6 text-right">
					<div class="input-group">
	                    <input type="text" name = "no" id = "no" placeholder = "决裁单号......" class="form-control input-sm" v-model = "searchParam"/>
	                    <span class="input-group-btn">
	                        <button class="btn btn-default btn-sm" type="button" id = "search" @click = "doSearch"><i class = "glyphicon glyphicon-search"></i>&nbsp;查找</button>
	                    </span>
	                </div>
				</div> 
			</div>
			<hr/>
			<div class = "row">
				<div class = "col-sm-12" th:if = "${gender} == 'M'">
					<h3>The gender is Male</h3>
				</div> 
				<div class = "col-sm-12" th:if = "${gender} == 'F'">
					<h3>The gender is Female</h3>
				</div> 
			</div>
			<hr/>
			<div class = "row">
				<div class = "col-sm-12" th:switch = "${grade}">
					<h3 th:case = "1">The first grade</h3>
					<h3 th:case = "2">The second grade</h3>
					<h3 th:case = "3">The third grade</h3>
					<h3 th:case = "4">The forth grade</h3>
				</div> 
			</div>
			<div class = "row">
				<div class = "col-sm-12">
					<table class = "table">
						<tr>
							<th>Name</th>
							<th>Age</th>
						</tr>
						<tr th:each = "user : ${list}">
							<td th:text = "${user.name}"></td>
							<td th:text = "${user.age}"></td>
						</tr>
					</table>
				</div> 
			</div>
			<hr/>
			<div class = "row">
				<div class = "col-sm-12">
					<h3 th:text = "${#httpServletRequest.getAttribute('requestdata')}">The first grade</h3>
					<h3 th:text = "${session.sessiondata}">The second grade</h3>
					<h3 th:text = "${application.applicationdata}">The third grade</h3>
				</div> 
			</div>
			<hr/>
			<div class = "row">
				<div class = "col-sm-12">
					<a class = "btn btn-link" th:href = "@{~/demo1}">Link without parameters</a>
					<a class = "btn btn-link" th:href = "@{~/demo1(id=1,name=Harry)}">Link with parameters</a>
				</div> 
			</div>
		</div>
		<script>
			var vm = new Vue({
				el:"#contentdiv",
				data:{
					searchParam:""					
				},
				methods:{
					doSearch(){
						alert(this.searchParam)
					}
				}
			})
		</script>
	</body>
</html>