<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.doosan.biz.ddic.hr.dao.mapper.department.DepartmentDao">
	<!-- 新增部门 -->
	<insert id="insert" parameterType="Tb_Department">
		insert into tb_department
		<trim prefix="(" suffix=")" suffixOverrides=",">
			companyid,
			name,
			code,	
			parentid,
			createuserid,
			createtime,
			rowver,
			delflag
		</trim>			
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{companyid, jdbcType=INTEGER},
			#{name, jdbcType=VARCHAR},
			#{code, jdbcType=VARCHAR},
			#{parentid, jdbcType=INTEGER},
			#{createuserid, jdbcType=VARCHAR},
			#{createtime, jdbcType=TIMESTAMP},
			#{rowver, jdbcType=INTEGER},
			0
		</trim>
	</insert>
	<select id="findAll" parameterType="Tb_Department" resultType="Tb_Department">
		select * from tb_department a 
		where a.delflag = 0
	</select>
	<select id = "recordCnt"  parameterType="Tb_Department" resultType="int">
		select count(*) from tb_department 
	</select>
	<select id="findAllByTerm" resultType="Tb_Department">
		select * from tb_department a 
		where a.name like concat(concat('%',#{name}),'%')
		and a.delflag = 0
	</select>
	<select id = "recordCntByTerm" resultType="int">
		select count(*) from tb_department a 
		where a.name like concat(concat('%',#{name}),'%')
		and a.delflag = 0
	</select>
	<select id="findById" parameterType="String" resultType="Tb_Department">
		select * from tb_department a
		where a.id = #{id} and a.delflag = 0
	</select>	
	<update id="update" parameterType="Tb_Department">
		update tb_department 
		<set>
			<if test = "parentid != null">
				companyid = #{companyid, jdbcType=INTEGER},
			</if>
			<if test = "name != null">
				name = #{name, jdbcType=VARCHAR},
			</if>
			<if test = "code != null">
				code = #{code, jdbcType=VARCHAR},
			</if>
			<if test = "parentid != null">
				parentid = #{parentid, jdbcType=INTEGER},
			</if>
			<if test = "modifyuserid != null">
				modifyuserid = #{modifyuserid, jdbcType=VARCHAR},
			</if>
			modifytime = #{modifytime, jdbcType=TIMESTAMP},
			rowver = #{rowver, jdbcType=INTEGER}
		</set>
		where id = #{id, jdbcType=VARCHAR} and delflag = 0
	</update>
	<!-- 逻辑删除 -->
	<update id="delete">
		update tb_department set delflag = 1
		where id in
		<foreach collection="ids" item = "item" index = "index" open = "(" separator="," close = ")">
			#{item}
		</foreach>
	</update>
	<!-- 物理删除 -->
	<!--delete id="delete">
		delete from tb_department
		where id in
		<foreach collection="ids" item = "item" index = "index" open = "(" separator="," close = ")">
			#{item}
		</foreach>
	</delete-->
</mapper>