<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="commons/css::common_css(~{::title}, ~{})">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>系统用户</title>
	</head>
	<body>
		<!-- 引入公共js文件 -->
		<div th:replace="commons/js::common_js(~{::script})">
		    <!--加载页面自己的js-->
		    <script type = "text/javascript" th:src = "@{/static/js/system/nav.js}" charset="UTF-8"></script>
		</div>
		<div class="container-fluid" id = "userdiv"> 
			<!-- 引入公共nav文件 --> 
			<div th:include="commons/nav::common_nav()"></div>
			<div class = "row">
				<div class = "col-sm-2">
					<!-- 引入左侧导航栏 -->
					<div th:include="commons/subnav::left_nav(current_position='系统用户')"></div>
				</div>
				<div class = "col-sm-10 text-right">
					<div class = "row">
					    <div class="col-sm-4 text-center">
							<input type="text" class="form-control form-control-sm" v-model = "p_code" placeholder="用户代码......">      
					    </div>
					    <div class="col-sm-4 text-center">
					 		<input type="text" class="form-control form-control-sm" v-model = "p_name" placeholder="用户名称......">     
					    </div>	
					    <div class="col-sm-4 text-right">
							<button id = "search" class = "btn btn-outline-success btn-sm" @click = "search(1)"><i class = "fa fa-search"></i>&nbsp;&nbsp;查询</button>&nbsp;&nbsp;      
					      	<button id = "add" class = "btn btn-outline-info btn-sm" @click = "add()"><i class = "fa fa-plus"></i>&nbsp;&nbsp;新增</button>&nbsp;&nbsp;
					    </div>	
					</div>
				</div>
			</div>
			<br>
			<div class = "row">
				<div class = "col-sm-12">
					<div class="table-responsive-sm">
						<table class = "table table-bordered table-hover table-sm" id = "list">
							<!--caption><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;公司组织信息</caption-->
							<thead>
								<tr class = "text-center">
									<th width = "30%">用户代码</th>
									<th width = "30%">用户名称</th>
									<th width = "25%">用户状态</th>
									<th width = "15%">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for = "data in datas" class = "text-center">
									<td>{{data.code}}</td>
									<td>{{data.name}}</td>
									<td>{{data.stsStr}}</td>
									<!-- vue拼接超链接方式 -->
									<!--td>
										<button class = "btn btn-link" :id = "'edit'+data.id" @click = "edit(data.id)"><i class = "fa fa-cogs"></i></button>
									</td-->
									<td>
										<button  @click = "edit(data.tid,data.code,data.name,data.docRole,data.userType)" class = "btn btn-link btn-xs text-info" data-toggle="tooltip" data-placement="bottom" title="编辑"><i class = "fa fa-edit"></i></button>
										<a :href = "'/web/system/user/move?id='+data.tid" class = "btn btn-link btn-sm text-info" data-toggle="tooltip" data-placement="bottom" title="停用"><i class = "fa fa-times"></i></a>
										<a :href = "'/web/system/user/recover?id='+data.tid" class = "btn btn-link btn-sm text-info" data-toggle="tooltip" data-placement="bottom" title="启用"><i class = "fa fa-check"></i></a>
									</td>						
								</tr>
							</tbody>
						</table>
					</div>
					<nav class="text-right">
					    <ul class="pagination"></ul>
					</nav>	
				</div> 
			</div>
			<!-- 新增修改用户窗体 -->
			<div class="modal fade" id="editUser" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="staticBackdropLabel">{{title}}</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      	<!-- 引入窗体 -->
			        <div th:include="/system/users/edit::user_edit()"></div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class = "fa fa-undo"></i>&nbsp;&nbsp;取消</button>
			        <button type="button" class="btn btn-outline-primary" @click = "save()"><i class = "fa fa-floppy-o"></i>&nbsp;&nbsp;保存</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		<script>
			var module = [[${module}]]
			var vm = new Vue({
				el:"#userdiv",
				data:{
					title:"",	//窗体名称
					code:"",	//用户代码
					name:"",	//用户名称
					pwd:"",		//用户密码
					inputPwd:false,//密码输入 - 用户类型为开发非公司人员时录入
					id:0,		//用户ID
					datas:[],	//获取表格数据
					total:[[${total}]],	//获取后台记录总数
					show:false, //是否显示保存结果信息 - 用于模式窗体
					result:"",	//保存结果信息 - 用于模式窗体
					dr:0,		//文档角色,默认不赋予
					drs:[],		//文档角色清单 - document roles
					ut:1,		//用户类型
					uts:[],		//用户类型清单 - user types
					sr:0,		//系统角色
					p_code:"",	//代码查询条件
					p_name:""	//姓名查询条件
				},
				watch:{
					ut:function(v){
						if(v == 1 || v == 2)
							this.inputPwd = false;
						else
							this.inputPwd = true;
					}
				},
				methods:{
					doSearch:function(){
						search(1);
					},
					add:function(){
						this.show = false;
						this.result = ""
						this.title = '新增';
						this.code = '';
						this.name= '';
						this.id = 0;
						this.dr = 0;
						this.ut = 1;
						this.pwd = "";
						modalSwitch("editUser", 1);
					},
					edit:function(id, code, name, dr,ut){
						this.show = false;
						this.result = ""
						this.title = '修改';
						this.code = code;
						this.name = name;
						this.id = id;
						this.dr = dr;
						this.ut = ut;
						this.pwd = "";
						modalSwitch("editUser", 1);
					},
					save:function(){
						if($.trim(vm.code) == ""){
							vm.show = true;
							vm.result = "请填写用户代码!"
							return ;
						}
						if($.trim(vm.name) == ""){
							vm.show = true;
							vm.result = "请填写用户名称!"
							return ;
						}
						var params = {
							id:vm.id,
							code:vm.code,
							name:vm.name,
							dr:vm.dr,
							ut:vm.ut,
							pwd:vm.pwd
						}
						$.ajax({
							url:"/web/system/user/save",
							type:"post",
							data:params,
							success:function(r){
								if(r.status == 200){
									vm.show = false;
									vm.result = ""
									modalSwitch("editUser", 0);
									search(1);		
								}else{
									vm.show = true;
									vm.result = r.message;
								}
							},
							error:function(r){
								vm.show = true;
								vm.result = "系统异常,保存失败,请联系管理员!"
							}
						})
					},
					search:function(page){
						$.ajax({
							url:"/web/system/user/query",
							type:"get",
							data:{page:page, limit:10, name:vm.p_name, code:vm.p_code},
							dataType:"json",
							success:function(r){
								if(r.status == 200){
									vm.total = r.number
									//重新设置总页数
									$('.pagination').bootstrapPaginator("setOptions", {
										currentPage: page, 						//当前页
										totalPages: Math.ceil(vm.total / 10), 	//总页数
									})
									vm.datas = r.data
									$("[data-toggle='tooltip']").tooltip();
								}
							},
							error:function(r){
								alert(r.message)
							}
						})
					}
				},
				mounted:function(){
					$('.pagination').bootstrapPaginator({
			            bootstrapMajorVersion: 3, 				//对应bootstrap版本
			            size: 'small', 							//分页大小
			            currentPage: 1, 						//当前页
			            numberOfPages: 10, 						//显示的条数
			            totalPages: Math.ceil(vm.total / 10), 	//总页数
			            /*
			             *	分页点击事件
			             * @param event [jquery对象]
			             * @param originalEvent [dom原生对象]
			             * @param type [按钮类型]
			             * @param page [点击按钮对应的页码]
			             */
			            onPageClicked: function (event, originalEvent, type, page) {
			               	vm.search(page);
			            }
			        });
					this.search(1);	
					//加载用户类型清单
					$.ajax({
						url:"/web/system/dict/enums",
						type:"get",
						data:{code:"D004"},
						success:function(r){
							vm.uts = r.data
						},
						error:function(){
							
						}
					});
					//加载文档角色清单
					$.ajax({
						url:"/web/system/dict/enums",
						type:"get",
						data:{code:"D002"},
						success:function(r){
							vm.drs = r.data
						},
						error:function(){
							
						}
					});	
				}
			});
		</script>
	</body>
</html>