<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Arithmetic Error Page</title>
		<link rel="shortcut icon" type="image/x-icon" th:href = "@{/images/logoes/way.ico}" media="screen" />
		<link rel = "stylesheet" th:href = "@{/css/bootstrap.min.css}" media="screen"/>
		<script type = "text/javascript" th:src = "@{/js/bootstrap.min.js}" charset="UTF-8"></script>
		<script type = "text/javascript" th:src = "@{/js/jquery-1.11.3.min.js}" charset="UTF-8"></script>
		<script type = "text/javascript" th:src = "@{/js/vue.js}" charset="UTF-8"></script>
	</head>
	<body>
		<div class="container" id = "contentdiv"> 
			<div class = "row">
				<div class = "col-sm-12 text-center">
					<h2>Arithmetic Error...</h2>
					<h3 th:text = "${exception}"></h3>
				</div> 
			</div>
		</div>
		<script>
			
		</script>
	</body>
</html>