<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.doosan.sb.dao.user.SysUserMapper">
	<!-- 开启二级缓存 -->
	<!--cache></cache-->
	<!-- 保存系统用户 -->
	<insert id="save" parameterType="sysuser">
		insert into sys_user(
			usercd,
			usernm,
			roleid,
			teamid,
			status,
			bg
		) values (
			#{usercd},
			#{usernm},
			#{roleid},
			#{teamid},
			#{status},
			#{bg}
		)
	</insert>
	<select id="all" resultType="sysuser">
		select * from sys_user
	</select>
	<select id="getUserById" parameterType = "int" resultType="sysuser">
		select * from sys_user where tid = #{tid}
	</select>
	<update id="update" parameterType="sysuser">
		update sys_user set 
			usercd = #{usercd}, 
			usernm = #{usernm}, 
			roleid = #{roleid}, 
			teamid = #{teamid}, 
			status = #{status}, 
			bg = #{bg} 
		where tid = #{tid}
	</update>
	<delete id="delete" parameterType="int">
		delete from sys_user where tid = #{tid}
	</delete>
</mapper>